@font-face {
    font-family: "Bebas";
    src: url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Teko";
    src: url("../fonts/Teko-Regular.ttf");
}

body, html{
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #666;
    color: #d8d8d8;
    width:100%;
    height:100%;
    overflow: hidden;
    z-index: 1;
}

.main {
    position:fixed;
    color: #d8d8d8;
    width: 100vw;
    height:100vh;
    z-index: 2;
}

.auth-box {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:500px;
    height:350px;
    background-color:#333;
}

.logo {
    float:left;
    width:80px;
    height:80px;
    margin:30px 210px 20px 210px;
}

.login {
    float:left;
    width:100%;
    height:40px;
    text-align: center;
    color:#01b7cc;
}

.login span {
    color:#bbb;
}

.login h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-family: "Teko";
    font-size: 26px;
    line-height: 40px;
    padding:0;
    margin:0;
}

.password {
    float:left;
    width:100%;
    height:40px;
}

.input-title {
    float:left;
    width:199px;
    height:40px;
    margin-left:40px;
}

.input-title h3 {
    text-align:right;
    text-transform: uppercase;
    font-weight: normal;
    font-family: "Teko";
    color:#bbb;
    font-size: 26px;
    line-height: 40px;
    padding:0;
    margin:0;
}

input[type=text] {
    width:160px;
    height:30px;
    border:none;
    margin:4px 0 0 5px;
    padding:0;
    text-align: center;
    outline: none;
    line-height: 40px;
    font-size:16px;
}

.link {
    float:right;
    width:250px;
    height:20px;
    margin-right:40px;
}

.link-btn {
    float:right;
    width:160px;
    height:20px;
    margin:0 38px 0 0;
    border:none;
    cursor:pointer;
    color:#aaa;
    line-height: 20px;
    font-size: 14px;
    background: rgba(255,255,255,0);
}

.validate {
    float:left;
    width:100%;
    height:40px;
    text-align: center;
    margin-top:40px;
}


.valid-btn {
    float:left;
    width:180px;
    height:40px;
    margin:0 160px 0 160px;
    background-color: #01b7cc;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    color:#011018;
    line-height: 40px;
    font-size: 22px;
    font-family: 'Teko';
}

.valid-btn:hover {
    background-color: #019aac;
}

/*-------------------------------------------- dialog box --------------------------------------------------- */

.dialog-box {
    position:fixed;
    color: #f1f1f1;
    background-color: rgba(1, 16, 24, 0.99);
    width: 100vw;
    height:100vh;
    z-index: 3;
    display:none;
}

.box {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:400px;
    height:250px;
    background-color:#444;
}

.b-top {
    float:left;
    width:100%;
    height:120px;
    margin-top:40px;
}

.b-msg {
    float:left;
    width:100%;
    height:100%;
    display:none;
}

.b-msg p{
    float:left;
    padding-top:10px;
    margin:0;
    width:100%;
    text-align:center;
    font-size: 20px;
    line-height: 40px;
    color: #d8d8d8;
    font-family: 'Bebas';
    letter-spacing: 1px;
}

.b-msg p span{
    color: #d91111;
}

.b-bottom {
    float:left;
    width:100%;
    height:40px;
    margin-top:10px;
    display:none;
}

.ok-btn {
    background-color: #01b7cc;
    float:left;
    width:200px;
    height:40px;
    margin-left:100px;
    text-align: center;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    color:#011018;
    line-height: 40px;
    font-size: 20px;
    font-family: 'Bebas';
    letter-spacing: 1px;
}

.ok-btn:hover {
    background-color: #019aac;
}

/*-------------------------------------------- serveur box --------------------------------------------------- */

.serveur-box {
    position:fixed;
    color: #f1f1f1;
    background-color: rgba(1, 16, 24, 0.99);
    width: 100vw;
    height:100vh;
    z-index: 5;
    display:none;
}

.sbox {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:850px;
    height:600px;
    background-color:#333;
}

.sb-left {
    float:left;
    width:400px;
    height:600px;
}

.sbl-top {
    float:left;
    width:356px;
    height:110px;
    border:solid 2px #444;
    margin:20px;
}

.info-01 {
    float:left;
    width:276px;
    height:30px;
    margin-left:20px;
    margin-top:10px;
}

.info {
    float:left;
    width:276px;
    height:30px;
    margin-left:20px;
}

.info h1, .info-01 h1{
    float:left;
    padding:0;
    margin:0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
    color: #d8d8d8;
    font-family: 'Teko';
    text-align:left;
}

.info-01 h1 span {
    color:#01b7cc;
}

.sbl-content {
    float:left;
    width:356px;
    height:auto;
    margin:20px 20px 0 20px;
}

.sblc-title {
    float:left;
    width:100%;
    height:40px;
    background-color: #666;
    margin-bottom:20px;
}

.sblc-title h2 {
    float:left;
    padding:0;
    margin:0 0 0 20px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 40px;
    color: #011018;
    font-family: 'Teko';
    text-align:left;
}

.name-btn {
    float:left;
    width:250px;
    height:32px;
    margin:0 0 0 20px;
    border:none;
    cursor:pointer;
    color:#aaa;
    line-height: 32px;
    font-size: 16px;
    background: rgba(255,255,255,0);
    text-align: left;
}



.sb-right {
    float:left;
    width:450px;
    height:600px;
}

.sbr-top {
    float:left;
    width:442px;
    height:342px;
    margin:4px;
    background-color: #444;
}

.sbrt-content {
    float:left;
    width:402px;
    height:352px;
    margin:20px;
}

.sbrt-content p{
    float:left;
    line-height: 40px;
    color:#d8d8d8;
    font-size: 16px;
}

.sbr-bottom {
    float:left;
    width:442px;
    height:242px;
    margin:4px;
}